<form>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="validationServer01">First name</label>
      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" required>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationServer02">Last name</label>
      <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name"  required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="validationServer03">Street Address</label>
      <input type="text" class="form-control is-invalid" id="validationServer03" placeholder="Street Address" required>
      <div class="invalid-feedback">
        Please provide a valid Street Address.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationServer04">City</label>
      <input type="text" class="form-control is-invalid" id="validationServer04" placeholder="City" required>
      <div class="invalid-feedback">
        Please provide a valid City.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationServer05">Phone Number</label>
      <input type="number" class="form-control is-invalid" id="validationServer05" placeholder="010" required>
      <div class="invalid-feedback">
        Please provide a valid Phone Number.
      </div>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>